$colorPurple: rgb(197, 178, 230);
$colorYellow: #ffe797;
$colorBlack: rgb(30, 32, 33);
$colorBw: #311F23;
$colorPink: #FFBCBC;

html,body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #37353a;
    color: white;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
}

.game {
    border-radius: 15px;
    border: $colorBw 5px solid;
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url(../img/bg.png);
    background-size: cover;
    overflow: hidden;
    // background-color: $colorBlack;
    .board.b2 {
        // border: $colorBw 4px solid;
        // border-radius: 5px;
        // background-color: $colorPink;
    }
    .img1::before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0px;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/02.png);
    }
    .img2::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0px;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/01.png);
    }
    .ball {
        background-color: $colorYellow;
        border-radius: 50%;
        border: $colorBw 4px solid;
    }
}      
    
.info {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    // border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(81, 154, 167);
    color: whitesmoke;
    button {
        font-weight: 600;
        border: $colorBw 4px solid;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        transition: 0.5;
        box-shadow: none;
        &:hover {
            background-color: $colorPink;
        }
    }
    .infoText {
        text-align: center;
    }
}  
.grade {
    padding: 20px;
}

.noBorder {
    border: none !important;
}